In [14]:
pip install kafka-python

Requirement already satisfied: kafka-python in c:\users\computer point\appdata\local\programs\python\python38\lib\site-packages (2.0.2)Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [15]:
producer = KafkaProducer(bootstrap_servers=['52.71.69.52:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [16]:
producer.send('demo_test0', value={'Name':'Koli'})

In [17]:
df = pd.read_csv("data/indexProcessed.csv")

In [18]:
df.head(4)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987

In [19]:
df1 = df.sample(1)
df1

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
57181,N100,2009-05-06,547.969971,561.380005,547.929993,557.97998,557.97998,442151300.0,680.735576

In [20]:
df1.to_dict(orient='records')[0]

{'Index': 'N100',
 'Date': '2009-05-06',
 'Open': 547.969971,
 'High': 561.380005,
 'Low': 547.929993,
 'Close': 557.97998,
 'Adj Close': 557.97998,
 'Volume': 442151300.0,
 'CloseUSD': 680.7355756}

In [26]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test0', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [ ]:
producer.flush() #clear data from kafka server